/* Header */

.navbar {
    padding: 20px 0 !important;
    box-shadow: 0px 3px 6px #00000029 !important;
}

.navbar-brand {
    font-weight: 800;
    font-size: 25px !important;
}

.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navbar-nav li:not(:last-of-type) {
    margin-right: 20px;
}

.d-flex {
    border-bottom: 4px solid #000000 !important;
}

.form-control {
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
}

.navbar-brand {
    font-weight: 800;
    font-size: 25px;
}

.nav-item {
    font-size: 16px;
    color: black !important;
}

.navbar-toggler, .navbar-toggler:focus {
    box-shadow: none !important;
    padding: 0 !important;
    border: none !important;
}

/* Algemeen */
* {    
font-family: 'Poppins', sans-serif;
}

a:hover {
    color: white;
}

.container-fluid {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

.header {
    background-image: url(../img/header.jpg);
    padding: 100px 0px;
    position: relative;
    background-size: cover;
}

.header .container {
    color: white;
    z-index: 99999;
    position: relative;
}

.header:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #10447847;
}



/* Products */

.products {
    background-color: #fafafa;
    padding: 40px 0;
}

.all-products > div:nth-child(n+9) {
    display: none;   
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
    align-items: center;
    margin: 20px 0 35px 0 !important;
    list-style-type: none;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0px 3px 6px #00000029;
}

.category-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    min-width: 130px;
    color: black;
    text-decoration: none;
    position: relative;
}

.category-list img {
    max-width: 39px;
    margin-bottom: 12px;
}

.products .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.products .col-3 {
    width: 23.5%;
    margin-bottom: 2% !important;
    position: relative !important;
    padding: 0 !important;
    box-shadow: 0px 3px 6px #00000029;
}

.products img {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.products .col-3:hover .product-content {
    opacity: 1;
}

.product-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009c;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.product-content h3 {
    color: white;
    font-size: 23px;
}

.fa-heart {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.fa-heart:hover {
    font-weight: 600;
}

.product-content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: white;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
}

.product-content a {
    text-decoration: none;
}

.product-content .buy-btn {
    display: inline-block !important;
    color: white !important;
    font-weight: 600 !important;
    font-size: 17px !important;
    position: relative;
    padding: 0 0 5px 0 !important;
}

.product-content .buy-btn:before {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
}

.product-content .buy-btn:hover::before, .product-content .buy-btn:focus::before {
    visibility: visible;
    width: 100%; 
}

.products-bottom {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-link {
    padding: 0 !important;
    background: none !important;
    border: none !important;
}

.pagination {
    align-items: center;
    margin: 0;
}

.pagination li {
    display: flex;
    align-items: center;
}

.pagination li:not(:last-of-type):after {
    content: "-";
    display: inline-block;
    margin: 0 10px;
    color: #9e9e9e99;
    font-size: 20px;
}

.page-link {
    color: black !important;
}

.page-item.active-link {
    font-size: 30px !important;
    color: #104478 !important;
}

.page-link, .page-link:focus, .btn:focus  {
    border: none !important;
    box-shadow: none !important;
}

.sweep-btn {
    display: inline-block;
    padding: 14px 22px !important;
    border: 4px solid #104478 !important;
    border-radius: 0 !important;
    color: #104478 !important;
    font-weight: 500 !important;
    position: relative !important;
    text-decoration: none;
}
.sweep-btn:hover, .sweep-btn:focus, .sweep-btn:active {
    color: white !important;
}

.sweep-btn:hover:before, .sweep-btn:focus:before, .sweep-btn:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.sweep-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #104478;
    transform: scaleX(0);
    transform-origin: 0 50%;
}


/* Footer */

footer {
    background-color: black;
}

footer .container {
    padding: 45px 0;
    color: white;
}

footer .contact a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    margin-bottom: 10px !important;
    display: inline-block;
}

footer .socials a {
    color: white;
    font-size: 25px;
    margin-right: 15px;
}

@media only screen and (max-width:1400px) {
.products .col-3 {
    width: 32%;
}
}

@media only screen and (min-width:980px) {
.price:before, .category-list li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #104478;
    visibility: hidden;
}

.category-list li:not(.active):hover a::before, .category-list li:focus a:before, .category-list li.active a:before {
 visibility: visible;
 width: 100%;
}
}

@media only screen and (max-width:980px) {
.products .col-3 {
    width: 49%;
}

.products, .header {
    padding: 30px 0;
}

.container {
    width: 85% !important;
    margin: 0 auto;
}

.header .col-8 {
    width: 100%;
}

.category-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.category-list li {
    flex: 0 0 auto;
}

.category-list li a {
    border-top: 5px solid white;
}

li.active a {
    border-top: 5px solid black;
}

.category-list li:not(:last-of-type) {
    margin-right: 20px;
}

.products-bottom {
    margin-top: 25px !important;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
    box-shadow: 0px 3px 6px #00000029;
    border-top: 2px solid red;
}

::-webkit-scrollbar-track
{
  background: #efefef;
}

::-webkit-scrollbar-thumb
{
  background: #104478;
}
}

@media only screen and (max-width:600px) {
.products .col-3 {
    width: 100% !important;
}

.category-list li a {
    flex-direction: row;
    padding: 15px;
}

.category-list img {
    max-width: 30px;
    margin: 0 10px 0 0;
}

footer .container > div:not(:last-of-type) {
    margin-bottom: 40px;
}

.sweep-btn {
    padding: 10px 14px !important;
}
}

@media only screen and (min-width:600px) {
footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
}